<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login: Acessar Plataforma</title>

    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    
    <div class="box-form">
        <form action="POST">
            <h2>Sing-in Account</h2>

                <input name="email"class="input required" type="email" placeholder="Digite seu e-mail">
                <span class="span-required">e necessario prencher esse campo</span>
           
           
                <input  class="input required" type="password" placeholder="Senha">
                <span class="span-required">senha incorreta</span>
        
                <p >Esqueceu sua senha? <a href="">clique aqui</a></p>
                <button type="submit">Entrar</button>
                <p>Não possui uma conta? <a href="resources/view/cadastro.html">Registrar-se</a></p>

        </form>
    </div>

    <script></script>
</body>
</html>